---
---

<footer class="w-full border-t border-gigas-300 mt-20 py-8">
  <div class="container">
    <p class="text-sm text-gigas-400 text-center">Copyright © 2024 temas-pc-technik.com</p>
  </div>
</footer>