---
import { Icon } from 'astro-icon/components'
import Image from 'astro/components/Image.astro'
---

<nav class="flex items-center bg-white py-5 px-12 border-b-barley-corn-200 border-b shadow-xl shadow-barley-corn-300/25">
  <a href="#" class="max-h-40 place-content-start mr-auto">
    <Image src="/tp-logo.png" width={276} height={80} alt={""} />
  </a>
  <div class="grid grid-flow-col gap-x-20 text-xl text-barley-corn-600">
    <a href="" class="">
      Heim
    </a>
    <span class="border-barley-corn-200 border-l"></span>
    <a href="" class="">
      Dienstleistungen
    </a>
    <span class="border-barley-corn-200 border-l"></span>
    <a href="" class="">
      Über uns
    </a>
    <span class="border-barley-corn-200 border-l"></span>
    <a href="" class="">
      Kontakt
    </a>
    <span class="border-barley-corn-200 border-l"></span>
    <a href="" class="">
      <Icon name="heroicons:globe-alt" />
    </a>
  </div>
</nav>
